PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxx

PUBLIC_CLERK_SIGN_IN_URL=/sign-in
PUBLIC_CLERK_SIGN_UP_URL=/sign-up
PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard

PUBLIC_BACKEND_URL=http://localhost:3000

RESEND_API_KEY=
RESEND_FROM_EMAIL=Sistema de administracion <noreply@tu-dominio.com>
