PORT=3000
NODE_ENV=development

SUPABASE_URL=https://bfekwmihfcffsmfhifmf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=cambia-esta-clave-por-una-cadena-larga-y-aleatoria
JWT_EXPIRES_IN=8h

BCRYPT_SALT_ROUNDS=12
